.image-background {
    position: relative;
    background-image: url("/photos/background_corridor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10 rem;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header-container h2 {
    margin: 1rem;
}
